html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    overflow-x: hidden;
}







.top_bar_menu .top_container .menu_options .style_switch {
  height: 52px;
  border: 2px solid #e4e3e3;
}

.loading-screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FEFEFE;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-screen p {
    display: none;
    margin-top: 25px;
    font-family: "Poppins","Arial",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #89909d;
}

.loader {
    width: 48px;
    height: 48px;
    border: 3px solid #EBEBEC;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: #2d1eed;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



.style-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(.85) blur(10px);
    background-color: rgba(255, 255, 255, 0.4);

}

.style-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px;
    background-color: $white;
    border-radius: 5px;
    max-width: 90%;
    max-height: 80%;
    width: 1380px;
    z-index: 999;
}

.modal-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    align-items: center;
}

.modal-content-container p {
    font-size: 1.3rem;
    margin: 5px;
}

.modal-main-image img {
    max-width: 100%;
}

.modal-bullet-list {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.modal-bullet-list .bullet-point {
    display: flex;
    align-items: flex-start;
    line-height: 1.8em;
    font-family: $inter;
    font-size: 1.125rem;
    font-weight: 400;
    color: $black;
}

.modal-bullet-list .bullet {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #EAFAEF;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
}

.modal-bullet-list .bullet::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '\e876';
    font-family: $icon;
    font-size: 1.3rem;
    color: $online;
    font-weight: 600;
    -webkit-transition: all ease-out .1s;
    transition: all ease-out .1s;
}

.modal-content-right .button {
    width: fit-content;
    margin-top: 30px;
}




.modal-gallery-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.modal-gallery-thumbnail {
    height: 90px;
    width: 90px;
    border-radius: 5px;
    border: 1px solid $border;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.modal-gallery-thumbnail.active {
    border: 1px solid $orange;
}

.modal-titel {
    font-size: 3rem;
}

.modal-gallery-thumbnail img {
    width: 100%;
    height: fit-content;
}




.modal-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.modal-close::before {
    display: block;
    content: '\e5cd';
    font-family: $icon;
    font-size: 2.3rem;
    color: $black;
    -webkit-transition: all ease-out .1s;
    transition: all ease-out .1s;
}






.button {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    overflow: auto;
    flex-shrink: 0;
    justify-content: center;
    font-family: $poppins;
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;
    text-decoration: none;
    color: $white;
    background: $blue;
    border-radius: 5px;
    padding: 18px 22px;
    transition: all ease-out .2s;
    position: relative;

    &:hover,
    &:focus {
        background: darken($blue, 15%);
    }

    &.orange {
        background-color: $orange;

        &:hover,
        &:focus {
            background: darken($orange, 15%);
        }
    }

    &.outline {
        background-color: $white;
        box-shadow: inset 0 0 0 1.5px $black;
        color: $black;
        font-weight: 500;

        i {
            color: $black;
        }

        &:hover,
        &:focus {
            background: $background;
        }
    }
}

.mobile {
    display: none;
}

.step-buttons-container.mobile {
    display: none;
}

.button:hover,
.button:focus {
    background: darken($blue, 10%);
}

.duo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}




.inputform-container {
    width: 100%;
    height: calc(100% - 100px);
    display: grid;
    grid-template-columns: 3fr 5fr;
}



.inputform-col {
    padding: 50px;
    display: flex;
}

.inputform-col.left {
    background-color: $white;
    border-right: 1px solid $border;
    justify-content: flex-start;
}

.inputform-col.right {
    background-color: $background;
    justify-content: flex-start;
    overflow-y: scroll;
    padding-left: 100px;
}



.inputform-inner-col {}

.inputform-inner-col.left {
    max-width: 550px;
    position: relative;
    display: flex;
    margin: 0px;
}

.inputform-inner-col.right {
    max-width: 730px;
    width: -webkit-fill-available;
}









.footer-container {
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer-text {
    font-size: 16px;
    color: $gray;
}

.footer-text a {
    color: $gray;
    text-decoration: none;
    margin: 0px 10px;
}

.footer-text a:hover {
    text-decoration: underline;
}

.footer-text .cf {
    font-family: $poppins;
    font-weight: 600;
    margin-left: 0;
}



.step-container-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 200px;
}

.step-container-right {
    padding-bottom: 100px;
    padding-top: 70px;
    position: relative;
}



.instruction-container {
    display: flex;
    flex-direction: column;
}

.instruction-subtitel {
    font-weight: 500;
    font-size: 1.125rem;
    color: $gray;
    margin-bottom: 5px;
}

.instruction-titel {
    font-size: 2.125rem;
    margin-bottom: 30px;
}

h1.instruction-titel {
    font-size: 2.5rem;
    line-height: 1.6em;
    margin-bottom: 30px;
}






.step-buttons-container {
    display: flex;
    justify-content: space-between;
}

.step-buttons-previous,
.step-buttons-previous-mobile {
    display: inline-flex;
    justify-content: center;
    font-family: $poppins;
    font-weight: 500;
    font-size: 1rem;
    color: $gray;
    padding: 18px 0px;
    cursor: pointer;
    user-select: none;
}

.step-buttons-previous:hover,
.step-buttons-previous-mobile:hover {
    text-decoration: underline;
}

.step-buttons-next,
.step-buttons-next-mobile {
    display: inline-flex;
    user-select: none;
}

.step-buttons-next::after,
.step-buttons-next-mobile::after {
    position: relative;
    display: block;
    content: '\e5c8';
    font-family: $icon;
    font-size: 1.25rem;
    color: inherit;
    margin: 0 0 0 10px;
    -webkit-transition: all ease-out .1s;
    transition: all ease-out .1s;
}

.step-buttons-begin {
    display: inline-flex;
    user-select: none;
    margin-top: 30px;
}

.step-buttons-error-message {
    color: $red;
    font-family: $inter;
    position: absolute;
    top: 30px;
    display: none;
}



.video-container {
    margin-right: 80px;
    background-color: $background;
    position: relative;
    border-radius: 5px;
}

.video-container video {
    width: calc(100% - 100px);
    border-radius: 5px;
    padding: 50px;
    mix-blend-mode: multiply;
}



.vinkopties-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.vinkopties-optie {
    width: auto;
    background-color: $white;
    padding: 35px 25px;
    display: flex;
    border-radius: 5px;
    border: 2px solid $border;
    cursor: pointer;
    -webkit-transition: all ease-out .1s;
    transition: all ease-out .1s;
}

.vinkopties-optie.active {
    border: 2px solid $orange;
}

.vinkopties-vink {
    position: relative;
    width: 28px;
    min-width: 28px;
    height: 28px;
    background-color: $white;
    border: 2px solid $border;
    border-radius: 5px;
    margin-right: 20px;

    &.vinkopties-vink-radio {
        border-radius: 5555px;
    }
}

.vinkopties-optie.active .vinkopties-vink {
    border: 2px solid $orange;
    background-color: $orange;
    -webkit-transition: all ease-out .1s;
    transition: all ease-out .1s;
}

.vinkopties-optie.active .vinkopties-vink::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '\e876';
    font-family: $icon;
    font-size: 1.6rem;
    font-weight: 600;
    color: $white;
    -webkit-transition: all ease-out .1s;
    transition: all ease-out .1s;
}

.vinkopties-text {
    display: flex;
    flex-direction: column;
    user-select: none;
    justify-content: center;
}

.vinkopties-subtitel {
    font-size: 20px;
    margin-bottom: 15px;

    &.vinkopties-subtitel-no-space {
        margin-bottom: 0;
    }

}


.vinkopties-p {
    margin: 0;
}

.vinkopties-img {
    margin-left: auto;
    padding-left: 20px;
    position: relative;
}

.vinkopties-img img {
    max-height: 85px;
}

.img-magnifying {
    position: absolute;
    bottom: -10px;
    right: 0;
    height: 32px;
    width: 32px;
    background-color: $orange;
    border-radius: 50px;
}

.img-magnifying::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '\e8b6';
    font-family: $icon;
    font-size: 1.2rem;
    font-weight: 600;
    color: $white;
    -webkit-transition: all ease-out .1s;
    transition: all ease-out .1s;
}

.img-magnifying:hover::after {
    opacity: 0.5;
}










.colors-combination-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.colors-combination-color {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    font-family: $inter;
    font-weight: 500;
    color: white;
    height: 75px;
    align-items: center;
}

.colors .vinkopties-text {
    width: 100%;
}

.colors-combination-color.color-1-1 {
    background-color: #3A61EF;
}

.colors-combination-color.color-1-2 {
    background-color: #1540A0;
}

.colors-combination-color.color-1-3 {
    background-color: #CAD8FF;
}

.colors-combination-color.color-1-4 {
    background-color: #EEF2FF;
    color: $black;
}

.colors-combination-color.color-2-1 {
    background-color: #FFBB33;
}

.colors-combination-color.color-2-2 {
    background-color: #FF7C1A;
}

.colors-combination-color.color-2-3 {
    background-color: #FFC880;
}

.colors-combination-color.color-2-4 {
    background-color: #FFF0D9;
    color: $black;
}

.colors-combination-color.color-3-1 {
    background-color: #7A9B6B;
}

.colors-combination-color.color-3-2 {
    background-color: #53774B;
}

.colors-combination-color.color-3-3 {
    background-color: #AAC1A4;
}

.colors-combination-color.color-3-4 {
    background-color: #D7E2D5;
    color: $black;
}

.colors-combination-color.color-4-1 {
    background-color: #88758E;
}

.colors-combination-color.color-4-2 {
    background-color: #59525B;
}

.colors-combination-color.color-4-3 {
    background-color: #B3A5B7;
}

.colors-combination-color.color-4-4 {
    background-color: #D8C7DD;
    color: $black;
}

.colors-combination-custom-container p {
    font-size: 1rem;
    margin-top: 25px;
}

.colors-combination-custom-input {
    border-radius: 5px;
    border: 2px solid $border;
    display: flex;
    overflow: auto;
    align-items: center;
}

.colors-combination-custom-input .hexinput {
    border: none;
    font-size: 20px;
    width: 100%;
    padding: 15px;
}

.colors-combination-custom-input .hexinput:focus {
    outline: none;
    border: none;
}

.colors-combination-custom-input .colorinput {
    -webkit-appearance: none;
    border: none;
    padding: 0;
    background-color: transparent;
    height: 54px;
    width: 75px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all ease-out .1s;
    transition: all ease-out .1s;
}

.colors-combination-custom-input .colorinput::-webkit-color-swatch-wrapper {
    padding: 0;
}

.colors-combination-custom-input .colorinput::-webkit-color-swatch {
    border: none;
}

.colors-combination-custom-input .colorinput:hover {
    filter: brightness(.9);
}

.colors-combination-custom-input .colorinput:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '\e3c9';
    font-family: $icon;
    font-size: 1.3rem;
    font-weight: 600;
    color: $white;
}











.logo-upload-container {
    display: flex;
    flex-direction: column;
}

.logo-upload-container p {
    font-size: 1rem;
    margin-top: 25px;
}

.logo-upload-upload {}

.drop-zone {
    &:not([style]){
        min-height: 50px;
    }
    max-height: 500px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: $inter;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    color: $black;
    border: 2px dashed $border;
    border-radius: 5px;
}

.drop-zone__prompt {
    display: flex;
    align-items: center;
}

.drop-zone__prompt span {
    color: $orange;
    margin-right: 5px;
}

.drop-zone__prompt p {
    margin: 0;
}

.drop-zone__prompt:before {
    position: relative;
    display: block;
    content: '\e2c3';
    font-family: $icon;
    font-size: 1.25rem;
    color: $gray;
    margin: 0px 10px 0 10px;
    -webkit-transition: all ease-out .1s;
    transition: all ease-out .1s;
}

.drop-zone--over {
    border-color: $black;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #eeeeee;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: $white;
    background: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    text-align: center;
}

.logo-upload-container .drop-zone__label {
    margin-top: 5px;
    font-size: .875rem;
    color: #858585;
}

.logo-upload-container .drop-zone__title {
    margin-bottom: 5px;
}







.gegevens-container {}

.gegevens-input {
    display: flex;
    flex-direction: column;
}

.gegevens-input p {
    font-size: 1rem;
    padding-left: 10px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.gegevens-input input {
    border-radius: 5px;
    border: 2px solid $border;
    background-color: $white;
    font-size: 20px;
    padding: 15px;
}





.iframe-container {
    margin-bottom: 30px;
    width: 100%;
    height: 720px;
}

.calendly-inline-widget {
    height: 750px;
}

.maildemo-button {
    font-family: $inter;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}







@media only screen and (max-width: 1270px) {
    .duo-grid {
        grid-template-columns: 1fr;
    }

    .gegevens-container .duo-grid {
        gap: 0px;
    }

    .vinkopties-optie[data-name="custom"] .colors-combination-container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 1098px) {
    .desktop {
        display: none !important;
    }

    .mobile {
        display: flex;
    }

    .step-buttons-container.mobile {
        display: flex;
    }

    .img-magnifying {
        display: none;
    }

    .mobile.footer-container {
        display: block;
        position: relative;
        padding: 20px 75px;
    }

    .footer-text {
        text-align: center;
    }

    .step-buttons-error-message {
        top: -10px;
    }

    .inputform-container {
        grid-template-columns: 1fr;
        overflow-x: hidden;
    }

    .inputform-inner-col.left {
        max-width: none;
    }

    .inputform-inner-col.right {
        max-width: none;
    }

    .inputform-col.right {
        overflow-y: unset;
        padding: 80px;
        padding-top: 50px;
    }

    .step-container-left {
        padding-bottom: 30px;
        padding-top: 60px;
    }

    .step-container-right {
        padding-top: 30px;
        padding-bottom: 0px;
    }

    .step-buttons-container.mobile {
        border: 1px solid $border;
        position: sticky;
        bottom: 0;
        background: $white;
        width: 100%;
        box-sizing: border-box;
        z-index: 900;
        padding: 30px 75px;

        div {
            z-index: 999;
        }
    }

    .video-container {
        margin-right: 0;
    }
}

@media only screen and (max-width: 650px) {
    h1.instruction-titel {
        font-size: 2.3rem;
    }

    .mobile.footer-container {
        padding: 10px 35px;
    }

    .footer-text {
        text-align: center;
    }

    .step-buttons-container.mobile {
        padding: 30px 35px;
        border: 1px solid $border;
        position: sticky;
        bottom: 55px;
        bottom: 0;
        background: $white;
        width: 100%;
        box-sizing: border-box;
        z-index: 100;
    }

    .inputform-col.left {
        padding: 20px;
    }

    .inputform-inner-col.left {
        margin: 0;
    }

    .inputform-col.right {
        padding: 20px;
    }

    .drop-zone__prompt p {
        display: none;
    }
}


@media only screen and (max-width: 480px) {
    h1.instruction-titel {
        font-size: 2.5rem;
    }

    .uitstraling .vinkopties-optie {
        display: grid;
        grid-template-columns: 1fr 5fr;
    }

    .uitstraling .vinkopties-img {
        grid-column: span 2;
        margin: auto;
        margin-top: 40px;
    }

    .uitstraling .vinkopties-img img {
        max-height: 150px;
    }

    .step-buttons-previous,
    .step-buttons-previous-mobile {
        font-size: 0.9rem;
    }

    .step-buttons-next,
    .step-buttons-next-mobile {
        font-size: 0.9rem;
    }

    .step-buttons-next::after,
    .step-buttons-next-mobile::after {
        font-size: 1rem;
    }
}
